@import "~views/styles";

.calendar {
  display: flex;
  justify-content: space-between;
  padding: 2 * @pd;
  align-items: center;
  align-content: center;
}

.calendarItem {
  // text-align: center;
  padding: 2 * @pd;
  min-width: 2 * @pd;
  min-height: 2 * @pd;
  display: flex;
  justify-content: center;

  align-items: center;
  // align-content: center;
  border-radius: 100%;
}
