.mainInfo {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  align-content: center;
  flex-direction: 'column'
}

.mainInfoItem{
  padding: 16px;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}